<div class="row clearfix">
  <div class="span12 file_viewer">
    <% if for_project.present? %>
      <%= render 'projects/file_viewer_project_form' %>
    <% else %>
      <%= render 'projects/file_viewer_aws_form' %>
    <% end %>

    <% if params[:view].blank? or params[:view] != 'list' %>
      <%= render 'projects/file_viewer_list', for_project: for_project %>
    <% else %>
      <%= render 'projects/file_viewer_table' %>
    <% end %>
  </div>
</div>
