<%

# サンプル用ディレクトリ構造
dir = {
  '01' => {
    'css' => {
      'style.css' => 'path/to/style.css',
      'hoge.css' => 'path/to/hoge.css',
      'foo.css' => 'path/to/foo.css',
    },
    'img' => {
      'top.jpg' => 'path/to/top.jpg',
      'back.jpg' => 'path/to/back.jpg',
      'footer.jpg' => 'path/to/footer.jpg',
      'thumbnails' => {
        'user1.jpg' => 'path/to/user1.jpg',
        'user2.jpg' => 'path/to/user2.jpg',
        'user3.jpg' => 'path/to/user3.jpg',
        'user4.jpg' => 'path/to/user4.jpg',
        'user5.jpg' => 'path/to/user5.jpg',
      },
    },
    'index.html' => 'path/to/index.html',
    'test.html' => 'path/to/test.html',
    'hoge.html' => 'path/to/hoge.html',
  },
  '02' => {
    'css' => {
      'style.css' => 'path/to/style.css',
      'hoge.css' => 'path/to/hoge.css',
      'foo.css' => 'path/to/foo.css',
    },
    'img' => {
      'top.jpg' => 'path/to/top.jpg',
      'back.jpg' => 'path/to/back.jpg',
      'footer.jpg' => 'path/to/footer.jpg',
      'thumbnails' => {
        'user1.jpg' => 'path/to/user1.jpg',
        'user2.jpg' => 'path/to/user2.jpg',
        'user3.jpg' => 'path/to/user3.jpg',
        'user4.jpg' => 'path/to/user4.jpg',
        'user5.jpg' => 'path/to/user5.jpg',
      },
    },
    'index.html' => 'path/to/index.html',
    'test.html' => 'path/to/test.html',
    'hoge.html' => 'path/to/hoge.html',
  }
}

%>

<div class="span12 file_viewer">
  <h2>Uploaded files</h2>

  <div class="form-inline">
    <button class="btn"><i class="icon-th-list"></i> List</button>
    <button class="btn"><i class="icon-folder-open"></i> Folder</button>
    <select>
      <option>ssl_htdocs</option>
      <option>contents</option>
    </select>
  </div>

  <ul class="files unstyled clearfix">
    <% get_dir_structure().each do |d| %>
      <%= raw break_dir(d) %>
    <% end %>
  </ul>
</div>
