<div class="span12 file_viewer">
  <h2>Uploaded files</h2>

  <div class="form-inline">
    <button class="btn"><i class="icon-th-list"></i> List</button>
    <button class="btn"><i class="icon-folder-open"></i> Folder</button>
    <select>
      <option>ssl_htdocs</option>
      <option>contents</option>
    </select>
  </div>

  <ul class="files unstyled clearfix">
    <% get_dir_structure().each do |d| %>
      <%= raw break_dir(d) %>
    <% end %>
  </ul>
</div>
