// Place all the styles related to the upload controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.upload {
  .scroll {
    border: solid 1px #cccccc;
    height: 100px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    overflow: auto;
    margin-bottom: 15px;
  }
}